@font-face {
    font-family: "Days One";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/DaysOne-Regular.ttf")
}


html, body {
    height: 100%;
    width: 100%;
}
body {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Days One", sans-serif;
    scroll-behavior: smooth;
}
.preloader {
    background: url(../imgs/preloader.gif) center no-repeat;
    background-color: #181818;
    position: fixed;
    opacity: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    visibility: visible;
    transition: 1s all;
}
.preloader.done {
    visibility: hidden;
    opacity: 0;
}
a {
    text-decoration: none;
    color: white;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
.header {
    background: url('../imgs/header-bg.png') no-repeat center center;
    background-size: cover; 
    height: 100vh;
    width: 100%;
}
.header .socials-account {
    display: flex;
    margin-bottom: 30px;
}
.header .socials {
    margin-right: 105px;
    margin-left: 537px;
}
.socials a {
    display: block;
}
.socials .twitch-button {
    width: 384px;
    height: 72px;
}
.socials-flex {
    display: flex;
    justify-content: center;
    margin-top: 11px;
}
.socials-flex a {
    margin-right: 9px;
    width: 55px;
    height: 55px;
}
.socials-flex a:last-child {
    margin-right: 0;
}
.socials-flex a img {
    width: 55px;
    height: 55px;
}
.telegram-button, .vk-button, .inst-button, .tiktok-button, .discord-button, .youtube-button {
    position: relative;
    transition: transform 0.5s ease 0s;
}
.telegram-fill, .vk-fill, .inst-fill, .tiktok-fill, .discord-fill, .youtube-fill {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 41px;
    height: 41px;
    z-index: -1;
    border-radius: 50%;
    transition: transform 0.5s ease 0s;
}
.telegram-fill {
    background: #00AEF5;
}
.vk-fill {
    background: #2A82BB;
}
.inst-fill {
    background: linear-gradient(180deg, #FFB648 0%, #FF4241 24.25%, #F02182 50.58%, #BF2AB6 71.08%, #5840DB 100%);
}
.tiktok-fill {
    background: #000000;
}
.discord-fill {
    background: #6689C2;
}
.youtube-fill {
    background: #FF0001;
}
.telegram-button:hover .telegram-fill, .vk-button:hover .vk-fill, .inst-button:hover .inst-fill, .tiktok-button:hover .tiktok-fill, .discord-button:hover .discord-fill, .youtube-button:hover .youtube-fill {
    transform: scale(1.32);
}
.telegram-button:hover, .vk-button:hover, .inst-button:hover, .tiktok-button:hover, .discord-button:hover, .youtube-button:hover {
    transform: scale(1);
}
.header .account {
    display: flex;
    width: 76px;
    height: 72px;
}
.header .account .login {
    margin-top: 23px;
    margin-right: 8px;
}
.header .account .login a {
    padding: 1.4375rem 0.3125rem 1.5rem 0.375rem;
    background: #C34375;
    border-radius: 9px;
    font-size: 1.25rem;
    line-height: 1.25;
}
.header .account .login a:hover {
    background: #FF75AB;
}
.header h1 {
    font-size: 8rem;
    color: #C34375;
    line-height: 0.953125;
    -webkit-text-stroke: 0.125rem #DEDEDE;
    text-align: center;
    margin-left: 537px;
    margin-bottom: 63px;
    font-family: 'Russo One', sans-serif;
}
.header-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #FFFFFF;
    width: 13.75rem;
    height: 6.875rem;
    background: rgba(24, 24, 24, 0.8);
    margin-right: 11px;
}
.header-menu a.header-arrow {
    width: 5.3125rem;
    height: 6.875rem;
    border-radius: 17px;
    margin-left: 136px;
    margin-right: 0;
}
.header-menu a:hover {
    background: rgba(195, 67, 117, 0.8);
}
.header-menu a:nth-child(3) {
    margin-right: 0;
}
.header-menu {
    display: flex;
    justify-content: center;
}
.header-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rating {
    background: #181818;
}
.rating-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.rating .mobile-table.rating-table {
    display: none;
}
.rating h2 {
    font-size: 3.375rem;
    text-align: center;
    color: #C34375;
    -webkit-text-stroke: 0.0625rem #000000;
    margin-bottom: 22px;
}
.rating p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.25;
}
.rating .mobile-rating-desc {
    display: none;
}
.rating p.criteria {
    font-size: 0.9375rem;
    line-height: 1.2666;
    margin-top: 10px;
}
.rating .rating-table {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 955px;
    height: 420px;
    margin: 0 auto;
    border: 2px solid #817C7E;
    margin-top: 25px;
}
.rating .rating-table .top-arrow {
    display: flex;
    justify-content: center;
    margin-top: 9px;
}
.rating .rating-table .top-arrow img {
    cursor: pointer;
}
.rating .rating-table .bottom-arrow {
    display: flex;
    justify-content: center;
    margin-bottom: 9px;
}
.rating .rating-table .bottom-arrow img {
    cursor: pointer;
}
.rating .rating-table .bottom-arrow img.disabled, .rating .rating-table .top-arrow img.disabled {
    cursor: default;
}
.preloader {
    background: url(../imgs/preloader.gif) center no-repeat;
    background-color: #181818;
    position: absolute;
    opacity: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    visibility: visible;
}
.preloader.done {
    visibility: hidden;
    opacity: 0;
}
.rating .rating-table table {
    margin: 0 auto;
    width: 939px;
    height: 348px;
}
.rating .rating-table table th {
    box-sizing: border-box;
    font-size: 12px;
    color: #C34375;
    border: 2px solid #DEDEDE;
    border-right: none;
    height: 36px;
    padding-top: 8px;
    position: relative;
}
.rating .rating-table table th img {
    position: absolute;
    top: 20px;
    display: none;
}
.rating .rating-table table th:hover img {
    display: block;
}
.rating .rating-table table td {
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    border: 2px solid #DEDEDE;
    border-right: none;
    height: 22.5px;
}
.rating .rating-table table td:first-child {
    border-right: 2px solid #C34375;
}
.rating .rating-table table td:nth-child(2) {
    font-size: 12px;
    border: 2px solid #C34375;
    border-left: none;
}
.rating .rating-table table td:nth-child(10) {
    border-right: 2px solid #DEDEDE;
}
.rating .rating-table table th:first-child {
    color: #FFFFFF;
    width: 38px;
    font-size: 16px;
    border-right: 2px solid #C34375;
}
.rating .rating-table table th:nth-child(2) {
    width: 150px;
    font-size: 16px;
    border: 2px solid #C34375;
    border-left: none;
}
.rating .rating-table table th:nth-child(3) {
    width: 96px;
}
.rating .rating-table table th:nth-child(4) {
    width: 107px;
}
.rating .rating-table table th:nth-child(5) {
    width: 88px;
}
.rating .rating-table table th:nth-child(6) {
    width: 101px;
}
.rating .rating-table table th:nth-child(7) {
    width: 67px;
}
.rating .rating-table table th:nth-child(8) {
    width: 67px;
}
.rating .rating-table table th:nth-child(9) {
    width: 134px;
}
.rating .rating-table table th:nth-child(10) {
    width: 91px;
    border-right: 2px solid #DEDEDE;
}
.rating .rating-table table {
    display: none;
}
.rating .rating-table table.active {
    display: block;
}
.formats {
    background: #DEDEDE;
}
.formats-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.formats h2 {
    font-size: 3.375rem;
    line-height: 1.277;
    text-align: center;
    margin-bottom: -2px;
    color: #C34375;
}
.formats p {
    font-size: 1.5rem;
    color: #242424;
    margin-bottom: 34px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formats p a {
    color: #242424;
    margin-left: 7px;
    height: 42px;
}
.format-buttons {
    display: flex;
    justify-content: center;
}
.formats .first-button, .formats .second-button, .formats .third-button {
    position: relative;
    width: 326px;
    height: 462px;
    border: none;
    padding: 0;
    margin: 0;
    margin-right: 12px;
}
.formats .third-button {
    margin-right: 0;
}
.first-format, .second-format, .third-format, .fourth-format, .fifth-format, .sixth-format, .seventh-format {
    transition: opacity 0.5s ease 0s;
    position: absolute;
    top: 0;
}
.first-format img, .second-format img, .third-format img, .fourth-format img, .fifth-format img, .sixth-format img, .seventh-format img {
    width: 326px;
    height: 462px;
}
.formats .dan-button {
    position: absolute;
    top: -13px;
    left: 138px;
    z-index: 2;
    cursor: pointer;
}
.mobile-format-buttons {
    display: none;
}
.lists {
    background: #181818;
}
.lists-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.lists button {
    margin-bottom: 63px;
    width: 59.6875rem;
    height: 6rem;
    background: #181818;
    border: 0.25rem solid #DEDEDE;
    outline: none;
    cursor: pointer;
}
.lists button:hover {
    background: #323232;
}
.lists .faction-tournament-bttn {
    margin-bottom: 0;
}
.top-donaters-bttn p, .first-donaters-bttn p {
    font-size: 2.5rem;
    font-family: 'Days One';
    color: #EBE984;
}
.content-chronicles-bttn p, .faction-tournament-bttn p {
    font-size: 2.5rem;
    font-family: 'Days One';
    color: #C34375;
}
.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    transition: .3s all;
}
.modal {
    opacity: 0;
    visibility: hidden;
    width: 1000px;
    height: 600px;
    position: fixed;
    z-index: 30; 
    background: #242424;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s all;
}
.modal__title {
    font-size: 2.5rem;
    margin-top: 31px;
    color: #EBE984;
}
.top-donaters .modal__title {
    margin-bottom: 26px;
}
.modal__cross {
    position: absolute;
    top: -6px;
    right: -6px;
    cursor: pointer;
}
.modal.active,
.overlay.active{
   opacity: 1;
   visibility: visible;
}
.top-donaters ol {
    box-sizing: border-box;
    width: 895px;
    height: 445px;
    background: #323232;
    border: 4px solid #DEDEDE;
    border-radius: 20px;
    margin-left: 22px;
    padding: 17px 0;
    text-align: left;
    list-style-type: decimal;
}
.top-donaters li {
    font-size: 1.25rem;
    color: #D9D9D9;
    line-height: 1.25;
    padding-left: 19px;
    margin-left: 70px;
}
.top-donaters li::marker {
    color: #EBE984;
}
.top-donaters .simplebar-track.simplebar-vertical {
    width: 30px;
    right: -66px;
    top: -4px;
    background: #D9D9D9;
    border-radius: 20px;
    pointer-events: all;
    height: 445px;
}
.top-donaters .simplebar-track.simplebar-vertical .simplebar-scrollbar::before  {
    top: 4px;
    bottom: 6px;
    right: 0;
    left: 5px;
    opacity: 1;
    background: #C34375;
    border-radius: 20px;
    width: 20px;
}
.top-donaters .simplebar-track.simplebar-vertical .simplebar-scrollbar:hover::before {
    background: #FF75AB;
}
.top-donaters .simplebar-track.simplebar-vertical .simplebar-scrollbar::before
.top-donaters .simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
}
.first-donaters .slider-imgs {
    width: 30px;
    height: 320px;
    background: #D9D9D9;
    border-radius: 20px;
    margin-top: 100px;
    margin-right: 20px;
}
.first-donaters .slider-imgs button {
    width: 20px;
    height: 30px;
    border: 3px solid #C34375;
    border-radius: 20px;
    background: #D9D9D9;
    margin-bottom: 8px;
    cursor: pointer;
}
.first-donaters .slider-imgs button:hover {
    background: #C34375;
}
.first-donaters .slider-imgs button.active {
    background: #C34375;
}
.first-donaters .slider-imgs button:first-child {
    margin-top: 12px;
}
.first-donaters .slider-imgs button:last-child {
    margin-bottom: 12px;
}
.first-donaters .slider-flex {
    display: none;
    justify-content: space-between;
    width: 1000px;
}
.first-donaters.active .slider-flex {
    display: flex;
}
.first-donaters .donaters-imgs {
    max-width: 575px;
    max-height: 468px;
    position: relative;
}
.first-donaters .donaters-imgs img {
    border-radius: 32px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all 0.5s ease 0s;
}
.first-donaters .donaters-imgs img.active {
    opacity: 1;
    visibility: visible;
}
.first-donaters .donaters-imgs .first-type {
    width: 575px;
    height: 431px;
    margin-top: 41px;
    margin-left: 213px;
}
.first-donaters .donaters-imgs .second-type {
    width: 351px;
    height: 468px;
    margin-top: 22px;
    margin-left: 325px;
}
.content-chronicles .modal__title, .faction-tournament .modal__title {
    color: #C34375;
}
.content-chronicles .content-bttns {
    display: flex;
    justify-content: center;
    margin-top: 26px;
    margin-bottom: 26px;
}
.content-chronicles .content-bttns .active {
    background: #323232;
}
.content-chronicles .content-bttns button {
    font-family: 'Days One';
    font-size: 1.25rem;
    color: #D9D9D9;
    margin-bottom: 0;
}
.content-chronicles .content-bttns .films-bttn {
    width: 18.5625rem;
    height: 2.5rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 4px solid #DEDEDE;
    border-right: none;
}
.content-chronicles .content-bttns .serials-bttn {
    width: 18.75rem;
    height: 2.5rem;
    border-left: 2px solid #DEDEDE;
    border-right: 2px solid #DEDEDE;
    border-top: 4px solid #DEDEDE;
    border-bottom: 4px solid #DEDEDE;
}
.content-chronicles .content-bttns .games-bttn {
    width: 18.5625rem;
    height: 2.5rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 4px solid #DEDEDE;
    border-left: none;
}
.content-chronicles .films-info, .content-chronicles .serials-info, .content-chronicles .games-info {
    width: 860px;
    height: 385px;
    border: 4px solid #DEDEDE;
    border-radius: 20px;
    margin-left: 53px;
    box-sizing: border-box;
    display: none;
    position: absolute;
}
.content-chronicles .active {
    display: block;
}
.content-chronicles .films-info h3, .content-chronicles .serials-info h3, .content-chronicles .games-info h3 {
    font-family: 'Days One';
    font-size: 1.25rem;
    color: #C34375;
    margin: 10px 0;
    text-align: center;
}
.content-chronicles .films-info ul, .content-chronicles .serials-info ul, .content-chronicles .games-info ul {
    margin-left: 52px;
}
.content-chronicles .films-info li, .content-chronicles .serials-info li, .content-chronicles .games-info li {
    font-family: 'Days One';
    font-size: 0.9375rem;
    color: #DEDEDE;
    text-align: left;
    line-height: 1.266;
    padding-bottom: 10px;
}
.content-chronicles .simplebar-track.simplebar-vertical {
    width: 14px;
    height: 385px;
    top: -4px;
    right: -39px;
    background: #D9D9D9;
    border-radius: 20px;
    pointer-events: all;
}
.content-chronicles .simplebar-track.simplebar-vertical .simplebar-scrollbar::before  {
    top: 2px;
    bottom: 4px;
    right: 0;
    left: 2px;
    opacity: 1;
    background: #C34375;
    border-radius: 20px;
    width: 10px;
}
.content-chronicles .simplebar-track.simplebar-vertical .simplebar-scrollbar:hover::before {
    background: #FF75AB;
}
.content-chronicles .simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
}
.faction-tournament .select-bttns {
    margin-top: 17px;
    display: flex;
    justify-content: center;
}
.faction-tournament .select-bttns button {
    font-family: 'Days One';
    height: 50px;
    margin-bottom: 0;
    font-family: 'Days One';
    font-size: 20px;
    color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #242424;
}
.faction-tournament .select-bttns .tournament-select p {
    margin-left: 35px;
}
.faction-tournament .select-bttns .week-select p {
    margin-left: 95px;
}
.faction-tournament .select-bttns .week-select p.result-text {
    margin-left: 80px;
}
.faction-tournament .select-bttns .week-select p.day-text {
    margin-left: 110px;
}
.faction-tournament .select-bttns button:first-child {
    box-sizing: border-box;
    border-radius: 20px;
    color: #D9D9D9;
    width: 320px;
    border: 4px solid #DEDEDE;
    margin-right: 17px;
}
.faction-tournament .select-bttns button:last-child {
    width: 286px;
    background: url(../imgs/week-menu.png);
    border: none;
    outline: none;
}
.faction-tournament .select-bttns button .arrow-bottom {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 15px solid #C34375;
    margin-right: 15px;
}
.faction-tournament .select-bttns button .arrow-left {
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 15px solid #C34375;
    margin-right: 15px;
}
.faction-tournament .select-bttns button:last-child .arrow-bottom {
    border-top: 15px solid #D9D9D9;
}
.faction-tournament .select-bttns button:last-child .arrow-left {
    border-right: 15px solid #D9D9D9;
}
.faction-tournament .main-content > div > div {
    margin-top: 28px;
    display: none;
}
.faction-tournament .main-content > div > div.active {
    display: flex;
}
.faction-tournament .left-bttns {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    width: 290px;
}
.faction-tournament .left-bttns a {
    font-size: 24px;
    font-family: 'Days One';
    color: #FFFFFF;
    margin-bottom: 35px;
    line-height: 31px;
}
.faction-tournament .left-bttns a.active {
    color: #C34375;
}
.faction-tournament .left-bttns .result-bttn {
    margin-bottom: 0 !important;
    margin-top: 94px;
}
.faction-tournament .right-content {
    margin-left: 80px;
    text-align: left;
    display: none;
    position: absolute;
    left: 350px;
    height: 391px;
}
.faction-tournament .right-content.active {
    display: block;
}
.faction-tournament .right-content h2 {
    font-size: 20px;
    line-height: 25px;
    color: white;
}
.faction-tournament .right-content h3 {
    font-size: 20px;
    line-height: 25px;
    color: #C34375;
}
.faction-tournament .right-content ul {
    margin-bottom: 25px;
}
.faction-tournament .right-content ul:last-child {
    margin-bottom: 0;
}
.faction-tournament .right-content li {
    font-size: 20px;
    line-height: 25px;
}
.faction-tournament .third-tour .result-week .right-content.result li, .faction-tournament .second-tour .result-week .right-content.result li, .faction-tournament .first-tour .result-week .right-content.result li {
    font-size: 16px;
    margin-bottom: 10px;
}
.faction-tournament .third-tour .result-week .right-content.result h2 {
    font-size: 16px;
}
.faction-tournament .third-tour .result-week .right-content.result span, .faction-tournament .second-tour .result-week .right-content.result span, .faction-tournament .first-tour .result-week .right-content.result span {
    font-size: 20px;
}
.faction-tournament .first-tour .result-week .right-content.result .other-tf li {
    font-size: 20px;
}
.faction-tournament .right-content p {
    margin-bottom: 20px;
}
.faction-tournament .result-day .right-content p {
    font-size: 20px;
    line-height: 25px;
    color: white;
}
.faction-tournament .result-day .right-content span {
    color: #C34375;
    font-size: 20px;
    line-height: 25px;
}
.faction-tournament .right-content.simplebar {
    width: 530px;
}
.faction-tournament .simplebar-track.simplebar-vertical {
    width: 14px;
    background: #D9D9D9;
    border-radius: 20px;
    pointer-events: all;
}
.faction-tournament .simplebar-track.simplebar-vertical .simplebar-scrollbar::before  {
    top: 4px;
    bottom: 4px;
    right: 0;
    left: 2px;
    opacity: 1;
    background: #C34375;
    border-radius: 20px;
    width: 10px;
}
.faction-tournament .simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
}
.faction-tournament .right-content.result li {
    margin-bottom: 20px;
}
.week-dropdown, .tournament-dropdown {
    box-sizing: border-box;
    display: none;
    position: absolute;
    background: #242424;
    width: 230px;
    max-height: 262px;
    z-index: 1000;
    margin-left: 563px;
}
.week-dropdown.active, .tournament-dropdown.active {
    display: block;
}
.week-dropdown a, .tournament-dropdown a {
    color: #D9D9D9;
    text-decoration: none;
    display: block;
    font-size: 16px;
    padding: 12px 0;
    border: 3px solid #181818;
    border-bottom: none;
}
.week-dropdown a:last-child, .tournament-dropdown a:last-child {
    border-bottom: 3px solid #181818;
}
.week-dropdown a:hover, .tournament-dropdown a:hover {
    background: #323232;
}
.week-dropdown a.active, .tournament-dropdown a.active {
    display: none !important;
}
.faction-tournament .week-dropdown .simplebar-track.simplebar-vertical {
    background: #181818;
}
.tournament-dropdown {
    width: 282px;
    margin-left: 208px;
}
.faction-tournament .second-week .left-bttns .result-bttn {
    margin-top: 28px;
    margin-bottom: 0;
}
.faction-tournament .sixth-week .right-content.darksouls {
    width: 530px;
}
.faction-tournament .sixth-week .right-content.result {
    width: 530px;
}
.faction-tournament .sixth-week .right-content.result img {
    width: 450px;
    margin-bottom: 50px;
}
.faction-tournament .sixth-week .right-content.result img:last-child {
    margin-bottom: 0;
}
.faction-tournament .result-week .right-content.result {
    width: 530px;
}
.faction-tournament .third-week .right-content.darksouls {
    width: 530px;
}
.faction-tournament .fourth-week .left-bttns .result-bttn, .faction-tournament .sixth-week .left-bttns .result-bttn {
    margin-top: 160px;
}
.faction-tournament .fifth-week .left-bttns .result-bttn {
    margin-top: 98px;
}
.faction-tournament .second-tour .first-week .left-bttns a {
    margin-bottom: 25px;
}
.faction-tournament .second-tour .first-week .left-bttns .result-bttn {
    margin-top: 22px;
}
.faction-tournament .second-tour .third-week .left-bttns a, .faction-tournament .second-tour .fourth-week .left-bttns a {
    margin-bottom: 15px;
}
.faction-tournament .second-tour .third-week .left-bttns .result-bttn, .faction-tournament .second-tour .fourth-week .left-bttns .result-bttn {
    margin-top: 36px;
}
.faction-tournament .second-tour .fifth-week .left-bttns a {
    margin-bottom: 10px;
}
.faction-tournament .second-tour .fifth-week .left-bttns .result-bttn {
    margin-top: 9px;
}
.faction-tournament .second-tour .sixth-week .left-bttns a {
    margin-bottom: 30px;
}
.faction-tournament .second-tour .sixth-week .left-bttns a:last-child {
    margin-top: 22px;
    margin-bottom: 0;
}
.faction-tournament .fourth-tour img {
    width: 500px;
    margin-bottom: 25px;
}
.faction-tournament .fourth-tour img:last-child {
    margin-bottom: 0;
}
.faction-tournament .fourth-tour h3 {
    margin-bottom: 15px;
}
.faction-tournament .fourth-tour h3:last-child {
    margin-bottom: 0;
}
.faction-tournament .fourth-tour ul li {
    display: flex;
    align-items: center;
}
.faction-tournament .fourth-tour ul li img {
    width: 30px;
    margin: 0 2px;
}
.faction-tournament .main-content>div {
    display: none;
    position: absolute;
    width: 100%;
}
.faction-tournament .main-content>div.active {
    display: block;
}
.faction-tournament .right-content span.dash {
    color: white;
}
.faction-tournament .right-content span.nick {
    color: #C34375;
}
.faction-tournament .right-content h3.shifr-answer {
    color: white;
    font-size: 16px;
}
.faction-tournament .first-tour .result-week h3, .faction-tournament .second-tour .result-week h3, .faction-tournament .third-tour .result-week h3, .faction-tournament .third-tour .result-week h2 {
    margin-bottom: 10px;
}
.faction-tournament .fourth-tour .result-day ul li {
    display: block;
}
.faction-tournament .right-content img, .first-donaters .donaters-imgs img {
    cursor: zoom-in;
}
img.zoomed {
    opacity: 0;
    visibility: hidden;
    cursor: zoom-out;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    max-height: 90vh;
    transition: 0.3s all;
}
img.zoomed.active {
    opacity: 1;
    visibility: visible;
}
.overlay-img {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: #181818;
    transition: .3s all;
}
.overlay-img.active {
    opacity: 1;
    visibility: visible;
}
.faction-tournament .third-tour .left-bttns {
    height: 400px;
    width: 350px;
}
.faction-tournament .third-tour .left-bttns .result-bttn {
    margin-top: 0;
}
.faction-tournament .third-tour .left-bttns a {
    display: block;
    margin-bottom: 30px;
    max-width: 320px;
}
.faction-tournament .third-tour .left-bttns .simplebar-track.simplebar-vertical {
    width: 10px;
    background: #242424;
}
.faction-tournament .third-tour .left-bttns .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    width: 4px;
}
.faction-tournament .bottomBordered {
    border-bottom: 3px solid #181818 !important;
}
.faction-tournament .bottomBordered.mobile {
    border-bottom: 3px solid #DEDEDE !important;
}
@media (min-width: 320px) and (max-width: 768px) {
    .header {
        background-image: url('../imgs/header-bg-mobile-2.png');
        background-position: -200px;
    }
    .container {
        width: 100%;
    }
    .header-content {
        justify-content: space-between;
    }
    .header .socials-account {
        margin-bottom: 0;
    }
    .header .socials {
        margin-right: 0;
        margin-left: 0;
    }
    .header .socials-flex {
        margin-left: 13px;
        margin-top: 8px;
    }
    .header .socials-flex a {
        margin-right: 12px;
        width: 40px;
        height: 40px;
    }
    .header .socials-flex a:last-child {
        margin-right: 0;
    }
    .header .twitch-button {
        width: 215px;
        height: 38px;
        margin-left: 13px;
        margin-top: 9px;
    }
    .header .twitch-button img {
        width: 215px;
        height: 38px;
    }
    .header .socials-flex a img {
        width: 40px;
        height: 40px;
    }
    .telegram-fill, .vk-fill, .inst-fill, .tiktok-fill, .discord-fill, .youtube-fill {
        top: 5px;
        left: 5px;
        width: 30px;
        height: 30px;
    }
    .header .account {
        position: absolute;
        right: 7px;
        width: 76px;
        height: 38px;
    }
    .header .account .login {
        margin-top: 16px;
        margin-right: 0;
    }
    .header .account .login a {
        padding: 0.4375rem 0.5rem 0.5rem 0.5625rem;
        background: #C34375;
        border-radius: 9px;
        font-size: 1.125rem;
        line-height: 1.27777777778;
    }
    .header h1 {
        display: none;
        margin-left: 0;
        margin-bottom: 0;
        font-size: 3.75rem;
        line-height: 95.5%;
        -webkit-text-stroke: 1px #DEDEDE
    }
    .header-menu {
        flex-direction: column;
        margin-bottom: 58px;
    }
    .header-menu a {
        width: 100vw;
        height: 50px;
        background: #181818;
        margin-right: 0;
        margin-bottom: 18px;
    }
    .header-menu a:nth-child(3) {
        margin-bottom: 0;
    }
    .header-menu a.header-arrow {
        display: none;
    }
    .rating .desktop-rating-desc {
        display: none;
    }
    .rating .mobile-rating-desc {
        display: block;
        font-size: 0.625rem;
    }
    .rating h2 {
        font-size: 1.875rem;
        line-height: 1.26666666667;
        margin-bottom: 0;
    }
    .rating p {
        font-size: 0.9375rem;
        line-height: 1.26666666667;
    }
    .rating p.criteria {
        font-size: 0.625rem;
        line-height: 1.25;
    }
    .rating .desktop-table.rating-table {
        display: none;
    }
    .rating .mobile-table.rating-table {
        display: flex;
        justify-content: space-evenly;
        width: 90vw;
        height: 69.53125vh;
    }
    .rating .table-blocks {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 10px 0;
    }
    .rating .points-block, .rating .nick-block {
        display: flex;
        flex-direction: column;
    }
    .rating .point-nick-block {
        width: 65.3125vw;
        margin: 0 auto;
    }
    .rating .points-block .points, .rating .points-block .points-tag {
        border: 2px solid #DEDEDE;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rating .nick-block .nickname, .rating .nick-block .nick-tag {
        border: 2px solid #C34375;
        box-sizing: border-box;
        border-left: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rating .points-block .points {
        border-top: 0;
    }
    .rating .nick-block .nickname {
        border-top: 0;
    }
    .rating .points-block {
        width: 13.75vw;
    }
    .rating .nick-block {
        width: 51.25vw;
    }
    .rating .points-block .points-tag, .rating .nick-block .nick-tag {
        font-size: 1rem;
        height: 6.0546875vh;
    }
    .rating .points-block .points {
        font-size: 0.625rem;
        height: 5.6640625vh;
    }
    .rating .nick-block .nick-tag {
        color: #C34375;
    }
    .rating .nick-block .nickname {
        font-size: 0.75rem;
        height: 5.6640625vh;
    }
    .rating .points-list {
        width: 65.3125vw;
        margin: 0 auto;
    }
    .rating .points-list > div {
        display: flex;
    }
    .rating .points-list > div > div:first-child {
        width: 51.875vw;
        height: 4.4921875vh;
        border: 2px solid #DEDEDE;
        border-bottom: 0;
        font-size: 0.6875rem;
        color: #C34375;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rating .points-list > div:last-child > div:first-child {
        border-bottom: 2px solid #DEDEDE;
    }
    .rating .points-list > div > div:last-child {
        width: 13.4375vw;
        height: 4.4921875vh;
        border: 2px solid #DEDEDE;
        border-bottom: 0;
        border-left: 0;
        font-size: 0.625rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rating .points-list > div:last-child > div:last-child {
        border-bottom: 2px solid #DEDEDE;
    }
    .formats h2 {
        font-size: 1.875rem;
        line-height: 0.93333333333;
        margin-bottom: 8px;
        margin-top: -25px;
    }
    .formats p {
        font-size: 0.9375rem;
        line-height: 1.33333333333;
        margin-bottom: 11px;
    }
    .format-buttons {
        display: none;
    }
    .mobile-format-buttons {
        display: block;
    }
    .mobile-format-buttons {
        width: 299px;
        height: 371px;
        margin: 0 auto;
        position: relative;
    }
    .mobile-format-buttons div img {
        width: 299px;
        height: 371px;
    }
    .mobile-format-buttons .dan-button {
        width: 50px;
        height: 50px;
        left: 124px;
        top: 346px;
    }
    .lists button {
        margin-bottom: 2.34375vh;
        width: 81.875vw;
        height: 18.75vh;
    }
    .lists .faction-tournament-bttn {
        display: none;
    }
    .lists .content-chronicles-bttn {
        margin-bottom: 0;
    }
    .top-donaters-bttn p, .first-donaters-bttn p {
        font-size: 1.5625rem;;
    }
    .content-chronicles-bttn p, .faction-tournament-bttn p {
        font-size: 1.5625rem;
    }
    .modal {
        width: 96.25vw;
        height: 91.796875vh;
    }
    .modal__title {
        font-size: 1.5625rem;
        line-height: 1.28;
        margin: 1.7578125vh 0;
    }
    .top-donaters ol {
        width: 85.9375vw;
        height: 79.1015625vh;
        padding: 10px 0;
        margin-left: calc((96.25vw - (85.9375vw + 21px)) / 2);
    }
    .top-donaters li {
        font-size: 0.875rem;
        line-height: 1.28571428571;
        padding-left: 12px;
        margin-left: 39px;
        width: 65.625vw;
    }
    .top-donaters .simplebar-track.simplebar-vertical {
        width: 14px;
        height: 79.1015625vh;
        right: -25px;
    }
    .top-donaters .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
        width: 10px;
        top: 2px;
        left: 2px;
        bottom: 4px;
    }
    .first-donaters .modal__title {
        margin-bottom: 8px;
    }
    .first-donaters .slider-flex {
        width: 96.25vw;
    }
    .first-donaters .slider-imgs {
        width: 291px;
        height: 39px;
        margin: 0 auto;
        margin-top: 73.046875vh;
        margin-right: 2.5vw;
        padding: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .first-donaters .slider-imgs button {
        width: 29px;
        height: 32px;
        margin-bottom: 0;
        margin-right: 7px;
    }
    .first-donaters .slider-imgs button:first-child {
        margin-top: 0;
    }
    .first-donaters .slider-imgs button:last-child {
        margin-bottom: 0;
        margin-right: 0;
    }
    .first-donaters .donaters-imgs {
        width: 96.25vw;
    }
    .first-donaters .donaters-imgs .first-type {
        width: 358px;
        height: 269px;
        max-width: 516px;
        max-height: 387px;
        margin-top: calc(73.046875vh - 1.7578125vh - 8px - 358px);
        margin-left: -37px;
        transform: rotate(90deg);
    }
    .first-donaters .donaters-imgs .second-type {
        width: 269px;
        height: 358px;
        max-width: 387px;
        max-height: 516px;
        margin-left: 7px;
        margin-top: calc(73.046875vh - 1.7578125vh - 8px - 402px);
    }
    .content-chronicles .modal__title {
        margin-bottom: 13px;
    }
    .content-chronicles .content-bttns {
        width: 90.9375vw;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 2.34375vh;
    }
    .content-chronicles .content-bttns button {
        font-size: 0.75rem;
        line-height: 1.25;
    }
    .content-chronicles .content-bttns .films-bttn {
        width: 29.375vw;
        border: 3px solid #DEDEDE;
        border-right: none;
    }
    .content-chronicles .content-bttns .serials-bttn {
        width: 34.375vw;
        border-top: 3px solid #DEDEDE;
        border-bottom: 3px solid #DEDEDE;
    }
    .content-chronicles .content-bttns .games-bttn {
        width: 27.1875vw;
        border: 3px solid #DEDEDE;
        border-left: none;
    }
    .content-chronicles .films-info, .content-chronicles .serials-info, .content-chronicles .games-info {
        width: 85vw;
        height: 68.9453125vh;
        border: 3px solid #DEDEDE;
        margin-left: calc((96.25vw - (85vw + 21px)) / 2);
    }
    .content-chronicles .films-info h3, .content-chronicles .serials-info h3, .content-chronicles .games-info h3 {
        font-size: 0.9375rem;
        line-height: 1.26666666667;
        margin-top: 12px;
        margin-bottom: 7px;
    }
    .content-chronicles .films-info ul, .content-chronicles .serials-info ul, .content-chronicles .games-info ul {
        margin-left: 21px;
        margin-right: 10px;
    }
    .content-chronicles .films-info li, .content-chronicles .serials-info li, .content-chronicles .games-info li {
        font-size: 0.75rem;
        line-height: 1.25;
    }
    .content-chronicles .films-info li:last-child, .content-chronicles .serials-info li:last-child, .content-chronicles .games-info li:last-child {
        padding-bottom: 7px;
    }
    .content-chronicles .simplebar-track.simplebar-vertical {
        height: 68.9453125vh;
        right: -24px;
    }
    .faction-tournament .modal__title {
        margin-bottom: 14px;
    }
    .faction-tournament .select-bttns .tournament-select {
        display: none;
    }
    body .faction-tournament .select-bttns .week-select {
        width: 162px;
        height: 30.13px;
        border: 3px solid #C34375;
        border-radius: 10px;
        position: absolute;
        top: 108px;
        padding: 0;
        z-index: 100;
    }
    .faction-tournament .select-bttns .week-select p {
        font-size: 1.125rem;
        margin-left: 15px;
        width: 107px;
    }
    .faction-tournament .select-bttns .week-select p.result-text {
        margin-left: 8px;
    }
    .faction-tournament .select-bttns .week-select p.day-text {
        margin-left: 20px;
    }
    .faction-tournament .select-bttns button .arrow-bottom {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 12px solid #C34375;
        margin-right: 10px;
    }
    .faction-tournament .select-bttns button:last-child .arrow-bottom {
        border-top: 12px solid #C34375;
    }
    .faction-tournament .select-bttns button .arrow-left {
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 12px solid #C34375;
        margin-right: 10px;
    }
    .faction-tournament .select-bttns button:last-child .arrow-left {
        border-right: 12px solid #C34375;
    }
    .faction-tournament .tournament-dropdown {
        display: flex;
        justify-content: center;
        width: 96.25vw;
        margin-left: 0;
    }
    .tournament-dropdown a {
        border: 3px solid #DEDEDE !important;
        border-radius: 10px;
        font-size: 0.9375rem;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin-right: 15px;
        line-height: 1.26666666667;
    }
    .faction-tournament .tournament-dropdown a.active {
        border: 3px solid #C34375 !important;
        display: flex !important;
    }
    .tournament-dropdown a:last-child {
        margin-right: 0;
    }
    .faction-tournament .main-content > div > div {
        margin-top: 96px;
    }
    .faction-tournament .main-content > div > div.active {
        justify-content: center;
    }
    .faction-tournament .main-content .left-bttns {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 0;
        width: 266px;
        height: 36px;
        overflow-y: auto;
    }
    body .main .faction-tournament .left-bttns a {
        font-size: 0.875rem;
        line-height: 1.28571428571;
        margin-bottom: 0 !important;
    }
    .faction-tournament .left-bttns .result-bttn, .faction-tournament .second-tour .sixth-week .left-bttns a:last-child {
        margin-top: 0 !important;
    }
    .faction-tournament .left-bttns a:first-child {
        margin-bottom: 10px;
    }
    .faction-tournament .main-content .left-bttns .result-bttn {
        margin-top: 0;
    }
    .faction-tournament .week-dropdown {
        margin-left: 0;
        width: 144px;
        max-height: 249px;
        top: 138px;
        left: 82px;
    }
    .faction-tournament .week-dropdown a {
        font-size: 1rem;
        line-height: 1.25;
        border: 3px solid #DEDEDE;
        border-bottom: none;
        padding: 9px 0;
    }
    body .modal.faction-tournament .right-content.simplebar {
        width: 258px;
    }
    .faction-tournament .right-content {
        left: 0;
        margin-top: 62px;
        margin-left: 20px;
        height: 226px;
        width: 268px;
    }
    .faction-tournament .right-content h3 {
        font-size: 12px;
        line-height: 15px;
    }
    .faction-tournament .right-content ul {
        margin-bottom: 15px;
    }
    .faction-tournament .right-content li {
        font-size: 12px;
        line-height: 15px;
    }
    .faction-tournament .simplebar-track.simplebar-vertical {
        height: 235px;
        right: -23px;
    }
    .faction-tournament .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
        top: 2px;
        bottom: 2px;
    }
    .faction-tournament .right-content p {
        margin-bottom: 10px;
        font-size: 12px;
    }
    .faction-tournament .right-content.result li {
        margin-bottom: 10px;
    }
    .faction-tournament .sixth-week .right-content.result img {
        width: 250px !important;
        margin-bottom: 15px;
    }
    .faction-tournament .third-tour .result-week .right-content.result span, .faction-tournament .second-tour .result-week .right-content.result span, .faction-tournament .first-tour .result-week .right-content.result span {
        font-size: 12px;
    }
    .faction-tournament .third-tour .result-week .right-content.result li, .faction-tournament .second-tour .result-week .right-content.result li, .faction-tournament .first-tour .result-week .right-content.result li {
        font-size: 10px;
    }
    .faction-tournament .first-tour .result-week .right-content.result .other-tf li {
        font-size: 12px;
    }
    .faction-tournament .right-content span {
        font-size: 12px;
        line-height: 15px;
    }
}
@media (min-width: 520px) and (max-width: 768px) {
    .rating .mobile-table.rating-table {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    .rating .point-nick-block, .rating .points-list {
        margin: 0;
    }
    .rating .point-nick-block {
        margin-left: 30px;
        width: 209px;
    }
    .rating .points-block {
        width: 44px;
    }
    .rating .points-block .points-tag, .rating .nick-block .nick-tag {
        height: 31px;
    }
    .rating .points-block .points, .rating .nick-block .nickname {
        height: 29px;
    }
    .rating .nick-block {
        width: 164px;
    }
    .rating .points-list {
        width: 209px;
    }
}