@font-face {
    font-family: "Days One";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/DaysOne-Regular.ttf")
}

html, body {
    height: 100%;
    width: 100%;
}
body {
    color: #FFFFFF;
    background: #181818;
    height: 100%;
    font-family: 'Nova Square', cursive;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: white;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
header {
    background:#323232;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.header-content {
    height: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header-content.mobile {
    display: none;
}
.chapter-select, .pages-select {
    box-sizing: border-box;
    font-family: 'Cuprum';
    height: 28px;
    font-size: 24px;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #323232;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
    padding-right: 10px;
    padding-left: 18px;
}
.chapter-dropdown, .pages-dropdown {
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 41px;
    background: #323232;
    width: 270px;
    z-index: 1;
}
.chapter-dropdown.active, .pages-dropdown.active {
    display: block;
}
.chapter-dropdown a, .pages-dropdown a {
    font-family: 'Cuprum';
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    padding: 11px 0;
    border: 3px solid #181818;
    border-bottom: none;
}
.chapter-dropdown a.soon {
    color: #C34375;
}
.chapter-dropdown a.warning {
    animation-name: warning;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@keyframes warning {
	from {
		background: none;
	}
	50% {
		background: #FFFFFF;
	}
    to {
        background: none;
    }
}
.chapter-dropdown a:last-child, .pages-dropdown a:last-child{
    border-bottom: 3px solid #181818;
}
.chapter-dropdown a:hover {
    background: #181818;
}
.chapter-dropdown a.active {
    display: none;
}
.chapter-menu {
    padding-top: 7px;
    padding-bottom: 6px;
}
.chapter-menu:hover {
    background: #181818;
}
.chapter-menu:hover .chapter-select {
    background: #181818;
}
.chapter-menu:hover .bottom-arrow {
    border-top: 14px solid #FF75AB;
}
.bottom-arrow {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 14px solid #C34375;
    margin-left: 27px;
    z-index: 2;
}
.back-bttn .bottom-arrow {
    margin-left: 0;
    margin-right: 12px;
}
.left-arrow {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 14px solid #FF75AB;
    margin-left: 27px;
}
.back-bttn .right-arrow {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 14px solid #FF75AB;
    margin-right: 10px;
}
.chapter-flex {
    display: flex;
    align-items: center;
}
.pages-text {
    margin: 0 12px;
    font-size: 24px;
    width: 80px;
    text-align: center;
}
.stick {
    margin-right: 24px;
}
.back-bttn {
    display: flex;
    align-items: center;
    font-family: 'Cuprum';
    font-size: 20px;
    color: #DEDEDE;
}
.nav-bttns {
    display: flex;
    align-items: center;
    position: absolute;
    height: 41px;
    left: 483px;
}
.bottom-nav-bttns {
    display: flex;
    margin-left: 483px;
    padding-top: 25px;
    position: absolute;
}
.story-list .bottom-nav-bttns {
    padding-top: 50px;
}
.bottom-nav-bttns .prev-bttn {
    margin-left: 0;
}
.bottom-nav-bttns .next-bttn {
    margin-right: 0;
}
.prev-bttn img:last-child {
    position: absolute;
    opacity: 0;
    left: 0px;
    z-index: -1;
}
.next-bttn img:last-child {
    position: absolute;
    opacity: 0;
    right: 0px;
    z-index: -1;
}
.manga-list {
    padding-bottom: 100px;
}
.story-list {
    padding-bottom: 150px;
}
.pages {
    padding-top: 41px;
}
.manga-page {
    cursor: pointer;
}
.pages.forlowers {
    height: 1628px;
    display: flex;
    justify-content: center;
}
.pages.forlowers img {
    width: 1110px;
    height: 1628px;
}
.pages.forlowers2 {
    height: 1776px;
    display: flex;
    justify-content: center;
}
.pages.forlowers2 img {
    width: 1110px;
    height: 1776px;
}
.pages.dandeathside {
    height: 1480px;
    display: flex;
    justify-content: center;
}
.pages.dandeathside img {
    width: 1110px;
    height: 1480px;
}
.pages.hi-story {
    height: 647.5px;
    display: flex;
    justify-content: center;
}
.pages.hi-story img {
    width: 1110px;
    height: 647.5px;
}
.pages.iceflame, .pages.mutiny {
    display: flex;
    justify-content: center;
}
.pages .manga-page {
    top: 41px;
    position: absolute;
    visibility: hidden;
}
.pages.forlowers .manga-page {
    height: 1628px;
}
.pages.forlowers2 .manga-page {
    height: 1776px;
}
.pages.dandeathside .manga-page {
    height: 1480px;
}
.pages.hi-story .manga-page {
    height: 647.5px;
}
.pages .manga-page.active {
    visibility: visible;
}
.pages.iceflame p, .pages.mutiny p {
    width: 1110px;
    margin-top: 37px;
    font-family: 'Cuprum';
    font-size: 1.5rem;
    line-height: 1.166;
    color: #FFFFFF;
}
.pages.iceflame h2, .pages.mutiny h2 {
    font-family: 'Cuprum';
    font-size: 2rem;
    color: #D9D9D9;
    margin-top: 37px;
    text-align: center;
    line-height: 1.15625;
}
.pages.iceflame h3, .pages.mutiny h3 {
    font-family: 'Cuprum';
    text-align: center;
    color: #C34375;
    font-size: 1.75rem;
    line-height: 1.1428;
    padding-bottom: 12px;
    margin-top: 37px;
}
.pages .story-page .first-part {
    margin-top: 0;
}
.pages .story-page {
    position: absolute;
    display: none;
}
.pages .story-page.active {
    display: block;
}
.pages .img-flex {
    display: flex;
}
.pages .img-flex img {
    margin-top: 37px;
    width: 397px;
}
.pages.mutiny h2 {
    margin-left: 16px;
}
.pages .story-page .img-flex p {
    width: 685px;
    margin-left: 28px;
    margin-top: 8px;
}
.pages .story-page span {
    color: #C34375;
}

@media (min-width: 320px) and (max-width: 1109px) {
    body {
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .header-content.desktop {
        display: none;
    }
    .header-content.mobile {
        display: flex;
        justify-content: start;
        height: 54px;
    }
    .header-content .back-bttn {
        width: 10.625vw;
        height: 100%;
        background: #C34375;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-content .back-bttn img {
        margin-right: 2px;
    }
    .header-content .manga-title, .header-content .story-title {
        width: 70.625vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-content .manga-title p, .header-content .story-title p {
        font-family: 'Cuprum';
        font-size: 24px;
        line-height: 28px;
    }
    .header-content .chapter-menu, .header-content .pages-menu {
        padding: 0;
    }
    .header-content .chapter-select, .header-content .pages-select {
        display: block; 
        width: 18.75vw;
        height: 54px;
        font-size: 12px;
        line-height: 14px;
        background: #181818;
        padding: 0;
    }
    .header-content .pages-select {
        background: #C34375;
    }
    .header-content .chapter-select.active {
        border: 3px solid #C34375;
        border-bottom: none;
    }
    .header-content .pages-select.active {
        border: 3px solid #FFFFFF;
        border-bottom: none;
    }
    .header-content .chapter-dropdown, .header-content .pages-dropdown {
        width: 18.75vw;
        max-height: 339px;
        overflow-y: scroll;
        top: 54px;
    }
    .header-content .chapter-dropdown a, .header-content .pages-dropdown a {
        font-family: 'Days One';
        font-size: 35px;
        line-height: 45px;
        padding: 0;
        border: 3px solid #C34375;
        border-bottom: none;
    }
    .header-content .pages-dropdown a {
        border: 3px solid #FFFFFF;
        border-bottom: none;
    }
    .header-content .pages-dropdown a.active {
        color: #C34375;
    }
    .header-content .chapter-dropdown a:last-child {
        border-bottom: 3px solid #C34375;
    }
    .header-content .pages-dropdown a:last-child {
        border-bottom: 3px solid #FFFFFF;
    }
    .pages {
        padding-top: 54px;
    }
    .pages .manga-page {
        top: 54px;
    }
    .pages.forlowers {
        height: 146.5625vw;
    }
    .pages.forlowers2 {
        height: 160vw;
    }
    .pages.dandeathside {
        height: 133.333333333vw;
    }
    .pages.forlowers .manga-page {
        height: 146.5625vw;
    }
    .pages.forlowers2 .manga-page {
        height: 160vw;
    }
    .pages.dandeathside .manga-page {
        height: 133.333333333vw;
    }
    .manga-list .pages img {
        width: 100vw;   
    }
    .pages.forlowers img {
        height: 146.5625vw;
    }
    .pages.forlowers2 img {
        height: 160vw;
    }
    .pages.dandeathside img {
        height: 133.333333333vw;
    }
    .pages.iceflame p, .pages.mutiny p {
        width: 97.1875vw;
        margin-top: 15px;
        font-size: 1.25rem;
        line-height: 1.15;
    }
    .pages.iceflame h2, .pages.mutiny h2 {
        width: 97.1875vw;
        margin: 0 auto;
        margin-top: 15px;
    }
    .pages.iceflame h3, .pages.mutiny h3 {
        width: 97.1875vw;
        margin-top: 15px;
        font-size: 1.25rem;
        line-height: 1.15;
        padding-bottom: 0;
    }
    .story-list {
        padding-bottom: 126px;
    }
    .pages .img-flex {
        flex-direction: column-reverse;
    }
    .pages .img-flex img {
        width: 97.1875vw;
        margin-top: 15px;
    }
    .pages .story-page .img-flex p {
        width: 97.1875vw;
        margin: 0 auto;
        margin-top: 15px;
    }
    .bottom-nav-bttns {
        margin-left: calc((100vw - 186px) / 2);
        padding-top: 13px;
    }
}