@font-face {
    font-family: "Days One";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/DaysOne-Regular.ttf")
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    background: #181818;
    color: #FFFFFF;
    font-family: 'Cuprum', sans-serif;
    scroll-behavior: smooth;
}
.content {
    padding: 30px 0;
}
a {
    text-decoration: none;
    color: white;
}
.container {
    width: 1110px;
    margin: 0 auto;
    background: #323232;
}
header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .back-bttn {
    display: flex;
    align-items: center;
    margin: 20px 0;
    margin-left: 40px;
}
header .back-bttn p {
    font-size: 1rem;
    color: #DEDEDE;
    font-family: "Days One";
}
header .back-bttn:hover p {
    color: #FFFFFF;
}
header .right-side {
    display: flex;
    align-items: center;
    padding-right: 40px;
}
header .login {
    text-align: right;
    margin-right: 30px;
}
header .login p{
    font-size: 0.75rem;
    line-height: 1.25;
    font-family: "Days One";
}
header .login a {
    font-size: 1rem;
    line-height: 1.25;
    font-family: "Days One";
}
header .login a:hover {
    color: #C34375;
}
.info-content {
    margin: 0 40px;
    display: flex;
    padding-bottom: 150px;
}
.character-card .card-title {
    width: 344px;
    height: 3.75rem;
    background: #181818;
    text-align: center;
    position: relative;
}
.character-card .card-pic {
    width: 344px;
    height: 457px;
}
.character-card .card-title h3 {
    font-size: 1.875rem;
    line-height: 1.16666666667;
    padding-top: 5px;
}
.character-card .card-title p {
    width: 100%;
    font-size: 1.125rem;
    line-height: 1.16666666667;
    position: absolute;
    left: calc(50% - 172px);
    bottom: 3px;
}
.character-card .card-about>div {
    display: flex;
}
.character-card .card-about>div p:first-child {
    width: 160px;
    height: 2.4375rem;
    background: #C34375;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    border-left: 8px solid #181818;
    border-bottom: 7px solid #181818;
}
.character-card .card-about>div p:last-child {
    width: 155px;
    height: 2.4375rem;
    background: #323232;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.13333333333;
    padding-left: 5px;
    border-left: 8px solid #181818;
    border-right: 8px solid #181818;
    border-bottom: 7px solid #181818;
}
.info .character-card .card-about .all-appears p {
    height: 4.5625rem;
}
.info .character-card .card-about .all-appears-right {
    width: 155px;
    height: 4.5625rem;
    background: #323232;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.13333333333;
    padding-left: 5px;
    border-left: 8px solid #181818;
    border-right: 8px solid #181818;
    border-bottom: 7px solid #181818;
}
.info .character-card .card-about .all-appears-right .all-appears-text {
    padding: 10px 0;
}
.info .character-card .card-about .all-appears a {
    color: #FF75AB;
}
.info .character-card .card-about .first-appear-right {
    width: 155px;
    height: 1.75rem;
    background: #323232;
    padding-top: 0.6875rem;
    padding-left: 5px;
    border-left: 8px solid #181818;
    border-right: 8px solid #181818;
    border-bottom: 7px solid #181818;
}
.info .character-card .card-about .first-appear-right a {
    color: #FF75AB;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.13333333333;
}
.general-info {
    width: 663px;
    margin-left: 18px;
    position: relative;
}
.general-info .info-title {
    box-sizing: border-box;
    height: 2rem;
    background: #181818;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.15;
    padding-top: 5px;
}
.general-info .info-text {
    margin-top: 21px;
    font-size: 1.375rem;
    line-height: 1.13636363636;
}
.general-info .info-text {
    margin-bottom: 34px;
}
.general-info>div:last-child .info-text {
    margin-bottom: 0;
}
.spoiler {
    cursor: pointer;
    background: #181818;
    border: 3px solid #C34375;
    color:#C34375;
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 26px;
}
.spoiler:hover {
    color:#FF75AB;
}
.disappear { 
    animation-name: disappear;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}
@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.chronicles-info-content {
    padding-bottom: 20px;
}
.chronicles-info .info-title {
    box-sizing: border-box;
    width: 1025px;
    height: 60px;
    background: #181818;
    margin: 0 auto;
    margin-bottom: 20px;
}
.chronicles-info .info-title p:first-child {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding-top: 3px;
}
.chronicles-info .info-title p:last-child {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-top: -3px;
}
.chronicles-info .events-list {
    width: 1025px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.chronicles-info .events-list .date {
    width: 201px;
    background: #181818;
    margin-right: 5px;
}
.chronicles-info .events-list .date:nth-child(5n + 5) {
    margin-right: 0;
    margin-bottom: 5px;
}
.events-list .date:last-child {
    margin-bottom: 0;
    margin-right: 0;
}
.date .event-date {
    width: 191px;
    height: 30px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto 10px auto;
}
.date .event-date.green-date {
    background: #44B86B;
}
.date .event-date.pink-date {
    background: #C34375;
}
.date .event-date.yellow-date {
    background: #AC9933
}
.date .event {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 5px;
}
.date .event:last-child {
    margin-bottom: 0;
}
.date.first-row {
    height: 191px;
}
.date.second-row {
    height: 509px;
}
.date.third-row {
    height: 309px;
}
.date.fourth-row {
    height: 241px;
}
.date.fifth-row {
    height: 896px;
}
.date.sixth-row {
    height: 249px;
}
.date.seventh-row {
    height: 616px;
}
.date.eighth-row {
    height: 292px;
}
.date.ninth-row {
    height: 374px;
}
.event .event-day {
    width: 52.55px;
    height: 27px;
    background:#323232;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
}
.event .event-day.little-day {
    font-size: 15px;
    line-height: 17px;
}
.event img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}
.event img:last-child {
    margin-right: 0;
}
.event p {
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
}
.event p span {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}
.event p span.brackets-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
}
.event p span.nick {
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
}
.event p.one-line-event {
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
}
.date .event-screen.mobile {
    display: none;
}
.date .event-screen {
    width: 191px;
    height: 114px;
    margin: -10px 5px 15px 5px;
}
.event .emotes-group {
    width: 75px;
    display: flex;
    flex-wrap: wrap;
}
.event .emotes-group img:nth-child(even) {
    margin-right: 0;
    margin-bottom: 5px;
}
.event .emotes-group img:last-child {
    margin-bottom: 0;
}

@media (min-width: 320px) and (max-width: 768px) {
    .content {
        overflow-x: hidden;
    }
    .container {
        width: 100%;
    }
    .content {
        padding: 0;
    }
    header .header-content {
        background: #181818;
    }
    header .back-bttn {
        margin-left: 5px;
        margin: 12px 0 12px 5px;
    }
    header .right-side {
        margin-right: 5px;
        padding-right: 0;
    }
    header .login {
        margin-right: 0;
    }
    .info-content {
        margin: 0;
        flex-direction: column;
        padding-bottom: 21px;
    }
    .character-card {
        width: calc(87.68125vw + 5px + 8px + 8px + 8px);
        margin: 0 auto;
        margin-top: 10px;
    }
    .character-card .card-title {
        width: calc(87.68125vw + 5px + 8px + 8px + 8px);
        height: 60px;    
    }
    .character-card .card-title p {
        bottom: 2px;
        left: calc(50% - 47.96875vw);
    }
    .character-card .card-pic {
        width: calc(87.68125vw + 5px + 8px + 8px + 8px);
        height: 248px;
    }
    .character-card .card-pic img {
        width: calc(87.68125vw + 5px + 8px + 8px + 8px);    
    }
    .character-card .card-about .gender p {
        border-top: 7px solid #181818;
    }
    .character-card .card-about>div p:first-child {
        width: 44.621875vw;
        height: 30px;
        font-size: 14px;
        line-height: 16px;
    }
    .character-card .card-about>div p:last-child {
        width: 43.059375vw;
        height: 30px;
        font-size: 13px;
        line-height: 15px;
        padding-left: 5px;
    }
    .info .character-card .card-about .all-appears p {
        height: 57px;
    }
    .info .character-card .card-about .all-appears-right {
        width: 43.059375vw;
        height: 57px;
        font-size: 13px;
        line-height: 15px;
        padding-left: 5px;
    }
    .general-info {
        width: 100vw;
        margin: 0 auto;
        margin-top: 21px;
    }
    .general-info .info-text {
        width: 93.75vw;
        margin: 0 auto;
        margin-bottom: 21px;
        margin-top: 6px;
        font-size: 15px;
        line-height: 17px;
    }
    .chronicles-info .info-title {
        width: 100vw;
        height: 102px;
        background: #323232;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .chronicles-info .info-title p:first-child {
        font-family: 'Days One';
        font-size: 25px;
        line-height: 32px;
        padding-top: 0;
    }
    .chronicles-info .info-title p:last-child {
        margin-top: 0;
        width: 71.875vw;
    }
    .chronicles-info .events-list {
        width: 96.875vw;
    }
    .chronicles-info .events-list .date {
        width: 47.8125vw;
        margin-right: 4px;
    }
    .date .event-date {
        width: 44.6875vw;
        font-size: 14px;
        line-height: 16px;
    }
    .date .event {
        margin-left: 1.5625vw;
    }
    .event .event-day {
        width: 12.5vw;
        margin-right: 10px;
    }
    .chronicles-info .events-list .date:nth-child(even) {
        margin-right: 0 !important;
        margin-bottom: 5px !important;
    }
    .chronicles-info .events-list .date {
        margin-right: 4px !important;
        margin-bottom: 0 !important;
    }
    .event p {
        font-size: 10px;
        line-height: 12px;
    }
    .event p span {
        font-size: 9px;
        line-height: 10px;
    }
    .event p.one-line-event {
        font-size: 10px;
        line-height: 12px;
    }
    .event p span.nick {
        font-size: 10px;
        line-height: 11px;
    }
    .date .event-screen.desktop {
        display: none;
    }
    .date .event-screen.mobile {
        display: block;
        width: 44.6875vw;
        height: 35vw;
        margin: -10px auto 15px auto;
    }
    .event p span.brackets-text {
        font-size: 10px;
        line-height: 12px;
    }
}