@font-face {
    font-family: "Days One";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/DaysOne-Regular.ttf")
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    background: #181818;
    color: #FFFFFF;
    font-family: 'Cuprum', sans-serif;
    scroll-behavior: smooth;
}
.content {
    padding: 30px 0;
}
a {
    text-decoration: none;
    color: white;
}
.container {
    width: 1110px;
    margin: 0 auto;
    background: #323232;
}
header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .back-bttn {
    display: flex;
    align-items: center;
    margin: 20px 0;
    margin-left: 40px;
}
header .back-bttn p {
    font-size: 1rem;
    color: #DEDEDE;
    font-family: "Days One";
}
header .back-bttn:hover p {
    color: #FFFFFF;
}
header .right-side {
    display: flex;
    align-items: center;
    padding-right: 40px;
}
header .login {
    text-align: right;
    margin-right: 30px;
}
header .login p{
    font-size: 0.75rem;
    line-height: 1.25;
    font-family: "Days One";
}
header .login a {
    font-size: 1rem;
    line-height: 1.25;
    font-family: "Days One";
}
header .login a:hover {
    color: #C34375;
}
.info-content {
    margin: 0 40px;
    display: flex;
    padding-bottom: 150px;
}
.character-card .card-title {
    width: 344px;
    height: 3.75rem;
    background: #181818;
    text-align: center;
    position: relative;
}
.character-card .card-pic {
    width: 344px;
    height: 457px;
}
.character-card .card-title h3 {
    font-size: 1.875rem;
    line-height: 1.16666666667;
    padding-top: 5px;
}
.character-card .card-title p {
    width: 100%;
    font-size: 1.125rem;
    line-height: 1.16666666667;
    position: absolute;
    left: calc(50% - 172px);
    bottom: 3px;
}
.character-card .card-about>div {
    display: flex;
}
.character-card .card-about>div p:first-child {
    width: 160px;
    height: 2.4375rem;
    background: #C34375;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    border-left: 8px solid #181818;
    border-bottom: 7px solid #181818;
}
.character-card .card-about>div p:last-child {
    width: 155px;
    height: 2.4375rem;
    background: #323232;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.13333333333;
    padding-left: 5px;
    border-left: 8px solid #181818;
    border-right: 8px solid #181818;
    border-bottom: 7px solid #181818;
}
.info .character-card .card-about .all-appears p {
    height: 4.5625rem;
}
.info .character-card .card-about .all-appears-right {
    width: 155px;
    height: 4.5625rem;
    overflow-y: scroll;
    background: #323232;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.13333333333;
    padding-left: 5px;
    border-left: 8px solid #181818;
    border-right: 8px solid #181818;
    border-bottom: 7px solid #181818;
}
.info .character-card .card-about .all-appears-right .all-appears-text {
    padding: 10px 0;
}
.info .character-card .card-about .all-appears a {
    color: #FF75AB;
}
.info .character-card .card-about .first-appear-right {
    width: 155px;
    height: 1.75rem;
    background: #323232;
    padding-top: 0.6875rem;
    padding-left: 5px;
    border-left: 8px solid #181818;
    border-right: 8px solid #181818;
    border-bottom: 7px solid #181818;
}
.info .character-card .card-about .first-appear-right a {
    color: #FF75AB;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.13333333333;
}
.general-info {
    width: 663px;
    margin-left: 18px;
}
.general-info .info-title {
    box-sizing: border-box;
    height: 2rem;
    background: #181818;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.15;
    padding-top: 5px;
}
.general-info .info-text {
    margin-top: 21px;
    font-size: 1.375rem;
    line-height: 1.13636363636;
}
.general-info .info-text {
    margin-bottom: 34px;
}
.general-info>div:last-child .info-text {
    margin-bottom: 0;
}