@font-face {
    font-family: "Days One";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/DaysOne-Regular.ttf")
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    background: #181818;
    color: #FFFFFF;
    font-family: 'Cuprum', sans-serif;
    scroll-behavior: smooth;
}
.content {
    padding: 30px 0;
}
a {
    text-decoration: none;
    color: white;
}
.container {
    width: 1110px;
    margin: 0 auto;
    background: #323232;
}
header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .back-bttn {
    display: flex;
    align-items: center;
    margin: 20px 0;
    margin-left: 40px;
}
header .back-bttn p {
    font-size: 1rem;
    color: #DEDEDE;
    font-family: "Days One";
}
header .back-bttn:hover p {
    color: #FFFFFF;
}
header .right-side {
    display: flex;
    align-items: center;
    padding-right: 40px;
}
header .login {
    text-align: right;
    margin-right: 30px;
}
header .login p{
    font-size: 0.75rem;
    line-height: 1.25;
    font-family: "Days One";
}
header .login a {
    font-size: 1rem;
    line-height: 1.25;
    font-family: "Days One";
}
header .login a:hover {
    color: #C34375;
}
.info-content {
    margin: 0 40px;
    display: flex;
    padding-bottom: 150px;
}
.character-card .card-title {
    width: 344px;
    height: 3.75rem;
    background: #181818;
    text-align: center;
    position: relative;
}
.character-card .card-pic {
    width: 344px;
    height: 457px;
}
.character-card .card-title h3 {
    font-size: 1.875rem;
    line-height: 1.16666666667;
    padding-top: 5px;
}
.character-card .card-title p {
    width: 100%;
    font-size: 1.125rem;
    line-height: 1.16666666667;
    position: absolute;
    left: calc(50% - 172px);
    bottom: 3px;
}
.character-card .card-about>div {
    display: flex;
}
.character-card .card-about>div p:first-child {
    width: 160px;
    height: 2.4375rem;
    background: #C34375;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    border-left: 8px solid #181818;
    border-bottom: 7px solid #181818;
}
.character-card .card-about>div p:last-child {
    width: 155px;
    height: 2.4375rem;
    background: #323232;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.13333333333;
    padding-left: 5px;
    border-left: 8px solid #181818;
    border-right: 8px solid #181818;
    border-bottom: 7px solid #181818;
}
.info .character-card .card-about .all-appears p {
    height: 4.5625rem;
}
.info .character-card .card-about .all-appears-right {
    width: 155px;
    height: 4.5625rem;
    background: #323232;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.13333333333;
    padding-left: 5px;
    border-left: 8px solid #181818;
    border-right: 8px solid #181818;
    border-bottom: 7px solid #181818;
}
.info .character-card .card-about .all-appears-right .all-appears-text {
    padding: 10px 0;
}
.info .character-card .card-about .all-appears a {
    color: #FF75AB;
}
.info .character-card .card-about .first-appear-right {
    width: 155px;
    height: 1.75rem;
    background: #323232;
    padding-top: 0.6875rem;
    padding-left: 5px;
    border-left: 8px solid #181818;
    border-right: 8px solid #181818;
    border-bottom: 7px solid #181818;
}
.info .character-card .card-about .first-appear-right a {
    color: #FF75AB;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.13333333333;
}
.general-info {
    width: 663px;
    margin-left: 18px;
    position: relative;
}
.general-info .info-title {
    box-sizing: border-box;
    height: 2rem;
    background: #181818;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.15;
    padding-top: 5px;
}
.general-info .info-text {
    margin-top: 21px;
    font-size: 1.375rem;
    line-height: 1.13636363636;
}
.general-info .info-text {
    margin-bottom: 34px;
}
.general-info>div:last-child .info-text {
    margin-bottom: 0;
}
.spoiler {
    cursor: pointer;
    background: #181818;
    color:#C34375;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    box-sizing: border-box;
    padding-top: 2px;
    position: absolute;
    height: 26px;
}
.spoiler:hover {
    color:#FF75AB;
}
.disappear { 
    animation-name: disappear;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}
@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.chronicles-info-content .dates-list {
    padding: 0 42.5px;
}
.chronicles-info .info-title {
    box-sizing: border-box;
    width: 1025px;
    height: 60px;
    background: #181818;
    margin: 0 auto;
    margin-bottom: 20px;
}
.chronicles-info .info-title p:first-child {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding-top: 3px;
}
.chronicles-info .info-title p:last-child {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-top: -3px;
}
.chronicles-info .event {
    display: flex;
    margin-bottom: 34px;
}
.chronicles-info .dates-column .event:last-child {
    margin-bottom: 0;
}
.chronicles-info .event.one-line-event {
    align-items: center;
}
.chronicles-info .event .date {
    box-sizing: border-box;
    width: 144px;
    height: 32px;
    margin-right: 18px;
    background: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chronicles-info .event .date.green-date {
    border: 2px solid #68FFA4;
}
.chronicles-info .event .date.red-date {
    border: 2px solid #FF6363;
}
.chronicles-info .event .date.purple-date {
    border: 2px solid #B468FF;
}
.chronicles-info .event .date.white-date {
    border: 2px solid #FFFFFF;
}
.chronicles-info .event .date.yellow-date {
    border: 2px solid #FCFF63;
}
.chronicles-info .event .date p {
    font-size: 20px;
    line-height: 23px;
}
.chronicles-info .event .event-info {
    display: flex;
    align-items: center;
}
.chronicles-info .event .event-info p, .chronicles-info .event .event-info span, .chronicles-info .event .event-info li {
    font-size: 22px;
    line-height: 25px;
    margin-right: 6px;
    font-weight: 400;
}
li::marker {
    font-size: 17px;
}
.chronicles-info .event .event-info span, .chronicles-info .event .event-info li {
    margin-right: 0;
}
.chronicles-info .event .event-info h4 {
    font-size: 22px;
    line-height: 25px;
    font-weight: 700;
}
.chronicles-info .event .event-info ol {
    list-style-type: square;
    list-style-position: inside;
    margin-left: 15px;
}
.chronicles-info .dates-flex {
    display: flex;
}
.dates-list > img {
    margin-bottom: 34px;
}
.dates-list > .event {
    margin-bottom: 13px;
}
.chronicles-info .event-info img {
    margin-right: 6px;
}
.chronicles-info .event-info img:last-child {
    margin-right: 0;
}